<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
<script src="http://bouil.github.io/angular-google-chart/ng-google-chart.js"></script>
<script src="public/js/controllers/maincontroller.js"></script>
<script src="public/js/services/service.js"></script>
<link type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />

<body>

    <div ng-app="mainController" ng-controller="Hello">
        <p>
            <h1> Create and Send the Airport Push</h1></p>
        <br><br>

        <form class="form-inline" role="form">
            &nbsp&nbsp&nbsp<label for="imei">IMEI:</label>
            <input type="imei" class="form-control" id="imei" ng-model="myVar" placeholder="Enter IMEI">
        </form>

        <div class="radio">
            &nbsp&nbsp&nbsp<label><input type="radio" name="optradio" ng-model="radioValue" value="1">GeoFence Enter</label>
        </div>
        <div class="radio">
            &nbsp&nbsp&nbsp<label><input type="radio" name="optradio" ng-model="radioValue" value="2">Allotment Zone Enter</label>
        </div>
        <div class="radio">
            &nbsp&nbsp&nbsp<label><input type="radio" name="optradio" ng-model="radioValue" value="3">Allotment Zone Exit</label>
        </div>
        <div class="radio" class="checkbox right-checkbox">
            &nbsp&nbsp&nbsp<label><input type="radio" name="optradio" ng-model="radioValue" value="4">GeoFence Exit</label>
        </div>
        <div class="radio">
            &nbsp&nbsp&nbsp<label><input type="radio" name="optradio" ng-model="radioValue" value="5">Parking full</label>
        </div>
        <div class="radio">
            &nbsp&nbsp&nbsp<label><input type="radio" name="optradio" ng-model="radioValue" value="6">Parking free</label>
        </div>
        &nbsp&nbsp&nbsp<button type="button" class="btn btn-info btn-sm" ng-click="Submit(myVar,radioValue)">Submit</button>

        <p>{{greetingeds.uuid}}</p>
        <p>{{greetingeds.message}}</p>s

    </div>

</body>

</html>